/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/******************************************** Utility Components ***************************************/
:root {
  font-size: 62.5%;

  /************ Custom Properties ***********/

  /* Main Color */
  --primary-color: #014d4e;

  /* Secondary Color */
  /* --secondary-color: #ff9408ea; */
  --secondary-color: #26b19aea;

  /* Secondary Color Modified */
  --secondary-color-m: #ff94088e;
  --orange: rgb(198, 220, 0);

  /* tertiary color */
  --tertiary-color: #017374;

  /* tertiary color modified */
  --tertiary-color-m: #01727498;
}
/* List Items */

li {
  list-style: none;
}
/*  Anchor Tags*/
a:link,
a:visited {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
body {
  font-family: "Baloo 2", cursive;
  font-family: "Poppins", sans-serif;
  display: flex;
}

/********************** Main  Styling  *********************/

/*_*_*_*_*_*_*_**_*_*_*___* Side Nav ***_**_*_*_*_*_*_*_*_*_*/
aside#side-nav {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}

div.side-nav__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
}

div.side-nav__content--logo img {
  width: calc(3vw + 3vh);
  object-fit: cover;
}

ul.side-nav__content--social {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

ul.side-nav__content--social a i {
  /* 20px => 2rem => {1rem + [(10/1500) * 100]} => Dynamic Value */
  font-size: calc(1rem + 0.6667vw);
  color: white;
  padding-bottom: calc(2rem + 0.6667vw);
  transition: color 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

ul.side-nav__content--social a i:hover,
ul.side-nav__content--social a i:active {
  color: var(--secondary-color);
}

/********************** Main  COntent  *********************/

/*** Main  COntent  *********/
main {
  flex: 1;
}

/********************** Main  Nav Header   *********************/

header#header {
  background-color: var(--secondary-color);
  height: calc(3vw + 3vh);
  z-index: 2;
}

nav#header__main-nav {
  height: 100%;
}
ul.header__main-nav--links {
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

ul.header__main-nav--links li {
  padding-right: 3vw;
}

ul.header__main-nav--links li a {
  position: relative;
  padding: 0.2rem 0.6rem;
  font-size: calc(1rem + 0.6667vw);
}

ul.header__main-nav--links li a:visited::before,
ul.header__main-nav--links li a:link::before,
ul.header__main-nav--links li a:link::after,
ul.header__main-nav--links li a:visited::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.18rem;
  background-color: rgba(140, 225, 219, 0.59);
  transform: scaleX(0);
  border-radius: 1rem;
  transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.header__main-nav--links li a:visited::before,
ul.header__main-nav--links li a:link::before {
  top: 0;
  /* Transform origin is center by default */
  transform-origin: left;
}
ul.header__main-nav--links li a:visited::after,
ul.header__main-nav--links li a:link::after {
  bottom: 0;
  /* Transform origin is center by default */
  transform-origin: right;
}

ul.header__main-nav--links li a:active::before,
ul.header__main-nav--links li a:hover::before,
ul.header__main-nav--links li a:hover::after,
ul.header__main-nav--links li a:active::after {
  transform: scaleX(1);
}

/********************** Showcase / Hero Sectoin   *********************/

section#showcase {
  height: 100vh;
  background-image: url("img/green-poly.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

div.showcase__content {
  background-color: var(--secondary-color);
  padding: calc(1rem + 2vw);
  height: calc(5rem + 20vmax);

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  animation: hero 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
@keyframes hero {
  0% {
    transform: translateX(100rem) rotate(360deg);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.showcase__content--title {
  font-size: calc(2rem + 3vw);
  color: white;
}
.showcase__content--para {
  font-family: "Indie Flower", cursive;
  font-size: calc(1.5rem + 1vw);
  color: white;
}

.showcase__content--link:link,
.showcase__content--link:visited {
  padding: 1rem;
  transition: all 0.5s ease-in-out;
  width: 100%;
  background-color: var(--primary-color);
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  position: relative;
  z-index: 1;
}
.showcase__content--link:link::after,
.showcase__content--link:visited::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--orange);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);

  z-index: -1;
}
.showcase__content--link:hover::after,
.showcase__content--link:active::after {
  transform: scaleX(1);
  transform-origin: left;
}
/*-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-* Work Section *-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-*/
section#work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  background-color: var(--tertiary-color);
}

div.work__card {
  padding: 4.5rem;
  flex-basis: 42rem;
  flex-grow: 1;
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  );
}

div.work__card img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  transition: filter 0.45s ease;
}

div.work__card img:hover,
div.work__card img:active {
  filter: sepia(80%);
  cursor: pointer;
}

/*-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-* About Me Section *-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-*/
section#about-me {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  padding: 2rem;
  background-color: var(--secondary-color);
}

.about-me__img,
.about-me__content {
  flex-basis: 40rem;
  padding: 2rem;
  flex-grow: 1;
}

.about-me__img img {
  width: calc(36% + 50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-me__content--title {
  font-size: 4rem;
  padding: 1rem 0;
  color: white;
  text-transform: uppercase;
  position: relative;
}

.about-me__content--title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.3rem;
  width: 10%;
  background-color: var(--primary-color);
}

.about-me__content--title,
.about-me__content--para {
  margin-bottom: 4rem;
  letter-spacing: 0.2rem;
}

.about-me__content--para {
  font-size: 1.8rem;
  font-family: "Indie Flower", cursive;
}

.about-me__content--link:link,
.about-me__content--link:visited {
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-transform: uppercase;

  position: relative;
  z-index: 1;
}

.about-me__content--link:link::after,
.about-me__content--link:visited::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);

  z-index: -1;
}

.about-me__content--link:hover::after,
.about-me__content--link:active::after {
  transform: scaleY(1);
  transform-origin: top;
}

/*-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-* Services Section *-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-*/
section#services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding: 6rem 2rem 2rem;
  background-color: var(--primary-color);
}

.service {
  padding: 4rem;
  margin: 0 2rem 4rem;
  flex-basis: 40rem;
  flex-grow: 1;
  background-color: var(--secondary-color);
  border-bottom: 0.2rem solid var(--secondary-color);
  border-right: 0.2rem solid var(--secondary-color);
  border-left: 0.2rem solid var(--secondary-color);

  position: relative;
  z-index: 1;
}

.service::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  transform: scaleX(0);
  transition: transform 0.45s cubic-bezier(1, 0, 0, 1);

  z-index: -1;
}

.service:hover::after,
.service:active::after {
  transform: scaleX(1);
}

.service i,
.services--title {
  margin-bottom: 2rem;
  font-size: calc(2.5rem + 0.68vw);
  line-height: calc(1.5rem + 2.5vh);
}

.service i {
  color: white;
}

.services--title {
  text-transform: uppercase;
}

.services--para {
  font-family: "Indie Flower", cursive;
  font-size: calc(1.5rem + 0.35vw);
  color: white;
}

/*-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-* Skills Section *-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-*/

section#skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding: calc(1rem + 2vw);
  background-color: var(--tertiary-color);
}

.skills__design,
.skills__coding {
  padding: calc(1rem + 2vw);
  flex-basis: 40rem;
  flex-grow: 1;
}

.skills__design--title,
.skills__coding--title {
  font-size: calc(2.5rem + 0.68vw);
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.skills__design h4,
.skills__coding h4 {
  font-size: 2rem;
  color: white;
}

.skills__design--progress,
.skills__coding--progress {
  position: relative;
  display: block;
  padding: 0.5rem;
  border-radius: 3rem;
  background-color: var(--primary-color);
  width: 100%;
  margin-bottom: 2rem;
}

.skills__design--progress span,
.skills__coding--progress span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 2rem;
  border-radius: 1rem 0 0 1rem;
  background-color: var(--secondary-color);
}

.skills__design--progress__1 {
  animation: design-1 4s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes design-1 {
  0% {
    width: 0;
  }

  100% {
    width: 80%;
  }
}

.skills__design--progress__2 {
  animation: design-2 4s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes design-2 {
  0% {
    width: 0;
  }

  100% {
    width: 75%;
  }
}

.skills__design--progress__3 {
  animation: design-3 4s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes design-3 {
  0% {
    width: 0;
  }

  100% {
    width: 95%;
  }
}

.skills__design--progress__4 {
  animation: design-4 4s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes design-4 {
  0% {
    width: 0;
  }

  100% {
    width: 65%;
  }
}

.skills__coding--progress__1 {
  animation: coding-1 4s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes coding-1 {
  0% {
    width: 0;
  }

  100% {
    width: 95%;
  }
}

.skills__coding--progress__2 {
  animation: coding-2 4s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes coding-2 {
  0% {
    width: 0;
  }

  100% {
    width: 80%;
  }
}

.skills__coding--progress__3 {
  animation: coding-3 4s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes coding-3 {
  0% {
    width: 0;
  }

  100% {
    width: 65%;
  }
}

.skills__coding--progress__4 {
  animation: coding-4 4s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes coding-4 {
  0% {
    width: 0;
  }

  100% {
    width: 90%;
  }
}

/*-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-* Testimonials Section *-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-*/
section#testimonials {
  padding: calc(1rem + 2vw);
  background-color: var(--secondary-color);
  color: white;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.testimonials__card {
  padding: 2vw;
  flex-basis: 50rem;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.testimonials__card--img {
  height: 100%;
  width: 100%;
}

.testimonials__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.35s ease-in-out;
}

.testimonials__card--content__title {
  font-size: calc(1.5rem + 1vw);
  text-transform: uppercase;
}

.testimonials__card--content__para {
  font-family: "Indie Flower", cursive;
  font-size: 1.5rem;
}

.testimonials__card--content {
  position: absolute;
  top: 60%;
  left: 0;
  width: 80%;
  background-color: var(--tertiary-color-m);
  padding: 1.5rem;
  flex-grow: 1;
  transform: scaleY(0);
  /* opacity: 0; */
  transform-origin: top;
  transition: transform 0.35s ease-in-out;
  /* transition: opacity 2s ease-in-out; */
}

.testimonials__card:hover .testimonials__card--content,
.testimonials__card:active .testimonials__card--content {
  transform: scaleY(1);
  transform-origin: center;
  /* opacity: 1; */
}

.testimonials__card:hover .testimonials__card--img img,
.testimonials__card:active .testimonials__card--img img {
  transform: scale(0.98);
  filter: grayscale(50%);
}

/*-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-* (max-width:1510px) Mark *-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-*/
@media screen and (min-width: 1510px) {
  body {
    width: 1510px;
    margin: 0 auto;
  }
}
/*-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-* (max-width:900px) Mark *-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-*/
@media screen and (max-width: 900px) {
  /*-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-* Showcase / Hero Section *-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-*/
  section#showcase {
    background-position: 100%;
    align-items: flex-end;
    transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

/*-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-* (max-width:610px) Mark *-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-*/

@media screen and (max-width: 610px) {
  /*-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-* Main Nav Header *-*-*-*-**-*-*-*-**-*-*-*-**-*/
  /* header#header {
    position: absolute;
  } */

  section#showcase {
    align-items: center;
    padding-top: 6rem;
  }

  nav#header__main-nav {
    width: 30rem;
    height: 100%;
    position: fixed;
    top: 0;
    right: -30rem;
    background-color: var(--secondary-color);
    text-align: center;
    z-index: 999;
  }

  .clicked {
    left: 55%;
  }

  .header__main-nav--hamburger {
    width: 5rem;
    height: 5rem;
    position: fixed;
    top: 2rem;
    right: 3rem;
    cursor: pointer;
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .header__main-nav--hamburger:hover,
  .header__main-nav--hamburger:active {
    background-color: var(--secondary-color-m);
    background-color: var(--orange);
  }

  .line {
    width: 100%;
    height: 0.3rem;
    padding: 0.1rem;
    background-color: white;
    border-radius: 0.2rem;
    transition: all 0.4s ease-in-out;
  }

  ul.header__main-nav--links {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 5px 5px 8px, 15px 15px 8px #54340bb9;
  }
  ul.header__main-nav--links li {
    margin-bottom: 4vh;
    margin-left: 6vh;
  }
  ul.header__main-nav--links li a {
    padding: 0.43rem 0.6rem;
  }

  .clicked .line-1 {
    transform: rotateZ(-405deg) translate(-0.8rem, 0.6rem);
  }
  .clicked .line-2 {
    opacity: 0;
  }
  .clicked .line-3 {
    transform: rotateZ(405deg) translate(-0.8rem, -0.6rem);
  }

  ul.header__main-nav--links li {
    opacity: 0;
  }

  ul.header__main-nav--links li:nth-child(1) {
    transition: all 0.5s ease-in-out 0.2s;
  }
  ul.header__main-nav--links li:nth-child(2) {
    transition: all 0.5s ease-in-out 0.4s;
  }
  ul.header__main-nav--links li:nth-child(3) {
    transition: all 0.5s ease-in-out 0.6s;
  }
  ul.header__main-nav--links li:nth-child(4) {
    transition: all 0.5s ease-in-out 0.8s;
  }
  ul.header__main-nav--links li:nth-child(5) {
    transition: all 0.5s ease-in-out 1s;
  }
  ul.header__main-nav--links li:nth-child(6) {
    transition: all 0.5s ease-in-out 1.2s;
  }
  ul.header__main-nav--links li.fade {
    opacity: 1;
  }

  /*-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-* Showcase / Hero Section *-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-*/

  section#showcase {
    background-position: 80%;
    transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .testimonials__card--content {
    width: 100%;
  }

  .testimonials__card:hover .testimonials__card--content,
  .testimonials__card:active .testimonials__card--content {
    top: 53%;
  }
}
